body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://images.unsplash.com/photo-1433155805822-ffc337821a5b?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=f7ee3c75ab99be9f7d6fdd56d4cf874d);
  background-size: cover;
  background-repeat: repeat-y;
  background-position: top center;
  background-attachment: fixed; }

.home {
  font-family: 'Amatic SC', cursive;
  color: white;
  text-align: center;
  margin: 0 auto; }
  .home h1 {
    font-size: 50px; }
  .home h3 {
    font-size: 35px; }
  .home .searchBar {
    margin-bottom: 10px; }
    .home .searchBar .inputSearch {
      width: 200px;
      font-family: 'Amatic SC', cursive;
      color: black;
      font-size: 30px; }
    .home .searchBar .searchButton {
      font-family: 'Amatic SC', cursive;
      font-size: 30px;
      width: 200px;
      background-color: orange;
      color: white; }

.matches {
  display: inline-block;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  padding: 10px; }
  .matches .items {
    width: 40%;
    font-size: 25px;
    display: inline-block; }
    .matches .items img {
      width: 100px; }

.favorite {
  color: white;
  padding-left: 10px; }

.view {
  font-family: 'Amatic SC', cursive;
  font-size: 20px;
  width: 100px;
  background-color: orange;
  color: white;
  margin-bottom: 40px; }
