<div class="home">
  <h1>Good Food</h1>
  <h3>Food is essential to life; Therefore, make it good</h3>
      <div class="searchBar">
        <input class="inputSearch" type="text" ng-model='inputBox' placeholder="search">
        <button ng-click='searchRecipe(inputBox)' class='searchButton'>Search By Ingredient</button>
      </div>
  <div class="matches">
      <article ng-repeat='item in items' class='items'>

          <a href="#/recipe/{{item.id}}"><img ng-src="{{item.smallImageUrls[0]}}"></a>
          <p>{{item.recipeName}}</p>
          <p>Ratng: {{item.rating}} stars</p>
          <p>Ingredients:<br> {{item.ingredients.join(', ')}}</p>
      </article>
  </div>
</div>
